@import "../../utils/media.scss";

.contact {
	height: 100%;
	max-width: 1366px;
	margin: auto;
	display: flex;
	align-items: center;
	gap: 50px;
	overflow-x: hidden;
	@include respond(s) {
		flex-direction: column;
		gap: 0px;
	}

	> div {
		padding: 0 15px;
		width: 50%;
		@include respond(s) {
			width: 100%;
		}
	}

	.textContainer {
		display: flex;
		flex-direction: column;
		gap: 40px;
		@include respond(s) {
			margin-top: 80px;
			gap: 0px;
		}
		@include respond(xs) {
			margin-top: 40px;
		}

		h1 {
			font-size: 100px;
			line-height: 88px;
			@include respond(s) {
				font-size: 40px;
			}
			@include respond(xs) {
				font-size: 28px;
				line-height: 1.5;
				margin-bottom: 10px;
			}
		}

		h2 {
			font-size: 30px;
			@include respond(xs) {
				font-size: 16px;
			}
		}

		p {
			font-size: 24px;
			margin-bottom: 30px;
			line-height: 1.5;
			@include respond(xs) {
				font-size: 16px;
			}

			a {
				font-weight: bold;
				transition: border 0.2s ease;
				position: relative;

				&::after {
					content: "";
					background-color: #432355;
					position: absolute;
					left: 10px;
					bottom: -4px;
					width: calc(100% - 8px);
					height: calc(100% - 8px);
					z-index: -1;
					transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
				}

				&:hover::after {
					left: 0;
					bottom: -2px;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.formContainer {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: relative;

		.phoneSVG {
			stroke: orange;
			position: absolute;
			margin: auto;
			text-align: center;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 100%;
			@include respond(xs) {
				width: 80%;
			}

			svg {
				@include respond(s) {
					width: 90%;
					max-width: 450px;
				}
			}
		}

		form {
			z-index: 1;

			input,
			textarea {
				padding: 20px;
				background-color: transparent;
				border: solid 1px white;
				color: white;
				border-radius: 5px;
				width: 100%;
				margin-bottom: 15px;
				@include respond(xs) {
					padding: 10px;
				}
			}

			button {
				padding: 20px;
				border: none;
				background-color: orange;
				cursor: pointer;
				font-weight: 500;
				width: 100%;
				transition: 0.2s all ease-in;
				@include respond(xs) {
					padding: 12px;
				}

				&:hover {
					transform: scale(101%);
					color: white;
					background-color: #432355;
					font-weight: 900;
				}
			}

			.sendFail,
			.sendSuccess {
				transition: all 0.2s ease-in;
				max-height: 0;
				overflow: hidden;
				line-height: 1.2;
				margin: 0;
			}
			.sendFail {
				color: red;
			}
			.show {
				margin-top: 15px;
				max-height: 50px;
			}
		}
	}
}
