@import "bootstrap/scss/bootstrap";

html {
	-webkit-scroll-snap-type: y mandatory;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	height: 100vh;
	height: 100dvh;
}

* {
	font-family: "DM Sans", sans-serif;
}

// html,
// body {
// 	overflow: hidden;
// }

body {
	background-color: #0c0c1d;
	color: #f2f2f2;
	overscroll-behavior-y: none;

	// > div {
	// 	position: relative;
	// 	-webkit-scroll-snap-type: y mandatory;
	// 	scroll-snap-type: y mandatory;
	// 	scroll-behavior: smooth;
	// 	overflow-y: scroll;
	// 	height: 100vh;
	// 	height: 100dvh;
	// }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #f2f2f2;
	font-weight: 700;
}

section {
	height: 100vh;
	height: 100dvh;
	min-height: -webkit-fill-available;
	-webkit-scroll-snap-align: start;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}
